!!! 5
html(lang='fr')
  head
    meta(charset='utf-8')

    // HTML5 shim, for IE6-8 support of HTML elements.
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
    script(src='/javascripts/analytics.js')
    script(src='/javascripts/bootstrap-scrollspy.js')
    script(src='/javascripts/jquery.smooth-scroll.min.js')

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // fav and touch icons.
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/apple-touch-icon-114x114.png')

    title= title

    meta(name='description', content='')
    meta(name='author', content='Cyril Gravelier')

    //- http://t.co/y1jPVnT
    link(rel='canonical', href='/')
  body
    div(class='topbar', data-scrollspy='scrollspy')
      .fill
        nav.container
          a(class='brand', href='#home') Tempo
          ul(class='nav')
            li(class='active')
              a(href='#home') Accueil
            li
              a(href='#history') Historique
            li
              a(href='#about') &Agrave; propos
            li
              a(href='#contact') Contact
          ul(class='nav secondary-nav')
            li
              a(href='http://18ruedivona.eu') 18 rue divona

    .container
      != body

      footer(class='row')
        p(class='pull-left')
          a(href='/scrap') Scrap
        p(class='pull-right')
          |  Site non officiel, données non contractuelles
          |  - un projet 
          a(href='http://18ruedivona.eu') 18 rue divona

  script(src='/javascripts/script.js')